body {
  margin: 30px;
  
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 20px;
}

.single-product{
text-align: center;
  width: 230px;
  padding: 20px;  
  border: 2px lightgrey solid;
  border-radius: 20px;

}
.single-product:hover{
  border: 2px black solid;
}
.single-product img {
  margin-top: 10px;
  width: 220px;
  height: 300px;
}
header > h1 {
  display: inline;
  
}
header > button {
  float: right;
}
header {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}